.About {
  height: 100vh;
  padding: 20px;
  position: relative;
  color: #fff;
}

.title-line {
  width: 4rem;
  height: 3px;
  background-color: #fff !important;
  margin-top: 10px;
  margin-bottom: 20px;
}
