.Home {
  height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2rem;
  color: #fff;
  font-weight: 300;
}

.gif {
  width: 80vw;
  max-width: 300px;
  margin: 50px 0;
}

.left-buttons,
.right-buttons {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 80px;
  top: 30%;
}

.right-buttons {
  left: auto;
  right: 80px;
  top: 70%;
}
.right-buttons p {
  color: #fff;
  margin-bottom: 10px;
}

.right-buttons .link-btn:hover {
  transform: rotate(-1deg);
}

.link-btn {
  background-color: #fff;
  color: black;
  display: flex;
  padding: 10px 20px;
  text-decoration: none;
  align-items: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
  cursor: pointer;
}

.link-btn:hover {
  transform: rotate(1deg);
}

.link-btn .icon {
  margin-right: 10px;
}

.github svg {
  z-index: 99;
}

@media (min-width: 1600px) {
  .title {
    font-size: 2.5rem;
  }
  .gif {
    max-width: 500px;
  }
  .left-buttons {
    left: 200px;
    font-size: 1.5rem;
  }
  .right-buttons {
    font-size: 1.5rem;
    right: 200px;
  }
  .Languages li {
    font-size: 1.8rem;
  }
  .CVButton {
    font-size: 1.5rem !important;
  }
  .github-corner svg {
    width: 120px;
    height: 120px;
  }
  .HomeButton {
    width: 100px !important;
    height: 100px !important;
  }

  .HomeButton svg {
    width: 64px;
  }
}

@media (max-width: 991.98px) {
  .right-buttons {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .left-buttons {
    left: 0;
    align-items: baseline;
  }
  .btn-text {
    display: none !important;
  }
}

@media (max-width: 500px) {
  .Home {
    text-align: center;
  }
  .gif {
    max-width: 300px;
  }
}
