.Languages {
  position: absolute;
  padding: 10px;
  color: #ccc;
  z-index: 1;
}

ul {
  display: flex;
  list-style-type: none;
}

li {
  margin: 0 3px;
  cursor: pointer;
}

.active {
  color: #fff;
}
