.Projects {
  padding: 20px;
  color: #fff;
  height: 100vh;
}

.title-line {
  width: 4rem;
  height: 3px;
  background-color: #fff;
  margin-top: 10px;
  margin-bottom: 20px;
}

.slider {
  height: calc(100% - 150px);
  padding: 10px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.slider .slick-list,
.slider .slick-track,
.slider .slick-slide,
.slider .slick-slide,
.slider .slick-slide > div {
  height: 100%;
}

.slider .desktop {
  grid-template-columns: 40% 60%;
}

.slick-dots {
  position: fixed !important;
  bottom: 50px !important;
  left: -10px;
  right: auto;
}

.slick-dots li button:before {
  color: white !important;
  font-size: 14px !important;
}
